* {
    overflow: hidden;
}

html, body{
    height: 100%;
    margin: 0;
}

#toolbar{
    height: 150px;
    width: 100%;
    background-color: aqua;
}

#tabs{
    height: calc(100% - 150px);
    width: 100%;
    background-color: blueviolet;
}

.tab{
    display: flex;
    height: 100%;
}

.sidebar{
    width: 200px;
    height: 100%;
    background-color: chartreuse;
}

.pages{
    height: 100%;
    width: calc(100% - 200px);
    background-color: crimson;
}

.page{
    height: 100%;
    width: 100%;
    background-color: gold;
    display: none;
}

.sidebar button{
    width: 100%;
    height: 60px;
    background-color: hotpink;
    margin-bottom: 5px;
    border: 0;
}

.pagevisible{
    display: block;
}