* {
    overflow: hidden;
}

html, body{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #eae7dc;
}

#toolbar{
    height: 110px;
    width: 100%;
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    outline: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: #eae7dc;
}

#logo{
    height: 100px;
    width: 100px;
    background-image: url(logo.svg);
    background-size: contain;
    margin: 0 50px;
}

#tabbtns{
    display: flex;
    justify-content: space-evenly;
    min-width: 400px;
    outline: none;
}

#tabbtns button{
    width: 100px;
    height: 50px;
    background-color: #353535;
    font-size: 20px;
    position: relative;
}

#tabbtns button::after{
    content: '';
    display: block;
    width: 100%;
    height: 0;
    background-color: orange;
    transition: height .25s;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#tabbtns button:hover{
    background-color: #454545;
}

#tabbtns button:hover::after{
    height: 3px;
}

#tabbtns .activetabbtn::after{
    background-color: deepskyblue;
    height: 3px;;
}

.sidebar .activepagebtn::after{
    background-color: deepskyblue;
    width: 7px;
}

#settingsbtn{
    height: 50px;
    width: 50px;
    margin: 0 25px;
    background-color: transparent;
    border: none;
}

#settingsbtn:hover svg *{
    stroke: orange;
    fill: orange;
}

#settingsbtn.activetabbtn #gear{
    animation-name: spinny;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
    transform-origin: 50% 50%;
}

@keyframes spinny{
    0%{
        transform: rotate(0deg);
    }
    15%{
        transform: rotate(0deg);
    }
    85%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#tabs{
    height: calc(100% - 110px);
    width: 100%;
}

.tab{
    display: none;
    height: 100%;
}

.tabvisible{
    display: flex;
}

.sidebar{
    width: 194px;
    height: 100%;
    background-color: #353535;
    padding: 0px 3px;
}

.sidebar button{
    width: 100%;
    height: 60px;
    background-color: #262626;
    margin-top: 5px;
    font-size: 20px;
    position: relative;
}

.sidebar button::after{
    content: '';
    display: block;
    width: 0;
    height: 100%;
    background-color: orange;
    transition: width .2s;
    position: absolute;
    top: 0px;
    right: 0px;
}

.sidebar button:hover{
    background-color: #414141;
}

.sidebar button:hover::after{
    width: 7px;
}

.sidebar .activepagebtn::after{
    background-color: deepskyblue;
    width: 7px;
}

.pages{
    height: 100%;
    width: calc(100% - 200px);
}

.page{
    height: calc(100% - 24px);
    width: calc(100% - 48px);
    background-color: #444444;
    display: none;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-color: rgba(0, 0, 0, 0.0);
    /* here we make the color transition */
    transition: border-color 0.75s ease;
    font-size: 2em;
}

.page:hover{
    border-color: deepskyblue;
}

.page::-webkit-scrollbar{
    width: 8px;
}

.page::-webkit-scrollbar-thumb{
    border-right-style: inset;
    border-right-width: 8px;
    border-color: inherit;
  }

.pagevisible{
    display: block;
}

.widgetStorageData{
    border: red 2px solid;
}

.widgetStorageData .data{
    width: 80%;
    border: deepskyblue 2px solid;
}

.widgetStorageData .data > div{
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-content: center;
    border: yellow solid 2px;
}

.widgetStorageData .closebtn{
    height: 30px;
    width: 30px;
    background-color: deepskyblue;
    color: #262626;
    text-align: center;
    user-select: none;
    cursor: pointer;
}